<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Store</title>
    <link rel="stylesheet" href="{% static 'css/style-white.css' %}" id="theme-link">
    <link rel="shortcut icon" href="/logo-for-white.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <header class="header">
            <div class="logo"></div>
            <div class="search-input-header">
                <input class="search-input" type="text" placeholder="Search...">
                <img class="search-icon" src="{% static 'images/find.png' %}" alt="logo" draggable="false">
            </div>
            <div class="navigator">
                <a href="/">
                    <button class="btn" id="home-btn"></button>
                </a> 
                <button class="btn" id="card-btn"></button>
                <button class="btn" id="dark-btn"></button>

                <button class="btn" id="shop"> <a href="/admin">админка</a> </button>
            </div>  
    </header>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>